body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search {
  z-index: 1;
  position: fixed;
  top: 10px;
  left: 10px;
}

.search-field {
  width: 350px;
  height: 20px;
  margin-left: 10px;
  padding: 10px;
}

.location-list {
  overflow: auto;
  padding-top: 10px;
  margin: 5px;
}
